<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="_fragments :: head(~{::title})">
    <meta charset="UTF-8" >
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>关于我</title>
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <link rel="stylesheet" href="../static/css/me.css">
</head>
<body>

    <!--导航-->
    <!--导航-->
    <nav th:replace="_fragments :: menu(5)"></nav>
    <!--中间内容-->
    <div class="m-padded-tb-big m-container">

        <div class="ui container">

            <div class="ui stackable grid">
                <div class="eleven wide column">
                    <div class="ui segment">
                        <img src="https://picsum.photos/id/1006/800/600" alt="" class="ui rounded image">
                    </div>

                </div>
                <div class="five wide column">

                    <div class="ui top attached segment">
                        <div class="ui header">关于我</div>
                    </div>
                    <div class="ui attached segment">
                        <p class="m-text">我是张浩,练习时长两年半的Java后端开发自学者,喜欢唱,跳,rap,计算机~~~~~~~~~~~</p>
                        <p class="m-text">写这个博客项目是为了毕业设计以及个人开发练习!(前端真的好难写)...</p>
                    </div>
                    <div class="ui attached segment">
                        <div class="ui orange basic left pointing label">编程</div>
                        <div class="ui orange basic left pointing label">IT</div>
                        <div class="ui orange basic left pointing label">爱思考</div>
                        <div class="ui orange basic left pointing label">不运动</div>
                    </div>
                    <div class="ui attached segment">
                        <div class="ui teal basic left pointing label m-margin-tb-tiny">JavaSE</div>
                        <div class="ui teal basic left pointing label m-margin-tb-tiny">JVM</div>
                        <div class="ui teal basic left pointing label m-margin-tb-tiny">JSP</div>
                        <div class="ui teal basic left pointing label m-margin-tb-tiny">MySql</div>
                        <div class="ui teal basic left pointing label m-margin-tb-tiny">Redis</div>
                        <div class="ui teal basic left pointing label m-margin-tb-tiny">Spring</div>
                        <div class="ui teal basic left pointing label m-margin-tb-tiny">SpringMVC</div>
                        <div class="ui teal basic left pointing label m-margin-tb-tiny">MyBatis</div>
                        <div class="ui teal basic left pointing label m-margin-tb-tiny">SpringBoot</div>
                        <div class="ui teal basic left pointing label m-margin-tb-tiny">MyBatisPlus</div>
                        <div class="ui teal basic left pointing label m-margin-tb-tiny">SpringCloud</div>
                        <div class="ui teal basic left pointing label m-margin-tb-tiny">HTML</div>
                        <div class="ui teal basic left pointing label m-margin-tb-tiny">JavaScript</div>
                        <div class="ui teal basic left pointing label m-margin-tb-tiny">......</div>
                    </div>
                    <div class="ui bottom attached segment">
                        <a href="#" class="ui circular icon button"><i class="github icon"></i></a>
                        <a href="#" class="ui wechat circular icon button"><i class="weixin icon"></i></a>
                        <a href="#" class="ui qq circular icon button" data-content="QQ:454967945" data-position="bottom center"><i class="qq icon"></i></a>
                    </div>
                    <div class="ui wechat-qr flowing popup top left transition hidden">
                        <img src="../static/images/wechat.png" alt="" class="ui rounded image" style="width: 130px">
                    </div>

                </div>

            </div>
        </div>

    </div>
    <br>
    <br>
    <!--底部footer-->
    <footer th:replace="_fragments :: footer"></footer>

    <script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
<script>
    $('.menu.toggle').click(function () {
        $('.m-item').toggleClass('m-mobile-hide');
    });
    $('.qq').popup();

    $('.wechat').popup({
        popup : $('.wechat-qr.popup'),
        on : 'hover',
        position: 'bottom center'
    });
    $('#newBlog-container').load(/*[[@{/footer/newBlog}]]*/"/footer/newBlog");
</script>
</body>
</html>